<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link rel="stylesheet" href={%  static "pure.css"%}>
  <link rel="stylesheet" href={%  static "base.css"%}>
  <link rel="shortcut icon" type="image/png" href={%  static "favicon.png"%}/>
  <title>Take a Number</title>
</head>
<body>
<!--
  This HTML file is the class page as viewed by a remote viewer. Add content here.
-->
<div class="header-block">
  <a href="index.html"><img id="logo" src={%  static "logo.png"%}/></a>
  <div class=join_form_wrap>
    <form id="join_form" action="" class="pure-form pure-form-aligned" method="POST" onsubmit="activateStudent()">
        {% csrf_token %}
      <fieldset>
        <label for="join_input"><strong>Join:</strong></label>
        <input name="join_input" id="join_input" type="text"/>
      </fieldset>
    </form>
  </div>
</div>

<div class="pure-g" style="width: 100%">
  <!--<div id="class-header">-->
  <div class="pure-u-1-6"></div>
  <!--<div id="class-display">-->
  <div class="pure-u-2-3" style="text-align: center">
    <h1>CS 5291</h1>
    <div class="ta-list">
      <div class="ta-active">
        <p>TA: Tim</p>
      </div>
      <div class="ta-active">
        <p>TA: Tammy</p>
      </div>
    </div>
  </div>
</div>

<div class="pure-g" style="width: 100%">
  <div class="pure-u-1-6"></div>
  <div class="pure-u-2-3" style="text-align: center">
    <div class="line">
      <div class="entry in-progress"></div>
      <div class="entry next"></div>
      <div class="entry"></div>
      <div class="entry"></div>
    </div>
    <button id="join-btn" class="pure-button pure-button-primary" disabled>Get in line</button>
    <p id="remote-msg">You are viewing the class remotely. Enter a Join Code to get in line.</p>
  </div>
</div>
<script>
    function activateStudent() {
        document.getElementById("join-btn").disabled = false
        document.getElementById("remote-msg").style.display = none
    }
</script>

</body>
</html>
